{%extends "delight/base.html"%}

{%block body_block%}
    <div class="container d-flex flex-column align-items-center mt-5 ">
            <div class="border border-light border-2 p-5 mt-5">
                <h5 class="mb-4">ADD VARIENT</h5>
                <form action="" method="post">
                    {%csrf_token%}
                    {{form.as_p}}
               
                    <input type="submit" value="add" class="btn btn-success form-control">
                </form>
            </div>
       </div>
    </div>
    
    
{%endblock%}