{%extends "delight/base.html"%}

{%block body_block%} 
<div class="container mt-5 ">
    <div class="container d-flex flex-column align-items-center mt-5 ">
        <div class="border border-4 border-shadow p-5">
            <h5 class="text-center ms-4 me-3 ">ADD NEW CATEGORY</h5>
            <form action="" method="post">
                {%csrf_token%}
                {{form.as_p}}
           
                <input type="submit" value="add" class="btn btn-success form-control">
            </form>
        </div>
    </div>
    <div>
    <table class="table table-dark table-striped mt-4">

        <tr>
            <td>Name</td>
            <td>Action</td>
        </tr>

        {%for cat in categories%}
            <tr>
            <td>{{cat.name}}</td>
            <td>
                <a href="{%url 'remove-category' cat.id%}"><i class="fa-solid fa-trash"></i></a>
            </td>
    
           </tr>
        {%endfor%}
    
    </table>
   </div>
</div>   
{%endblock%}
<!-- <style>
    .container{
        margin: 0 auto;
    }
</style> -->






